# Ignore common Python and environment files
venv/
__pycache__/
.env
*.pyc
*.sqlite3
*.log
.coverage

# Allow everything else
!.gitignore
!requirements.txt
!alembic.ini
!app/
!alembic/

